block config
	-
		var titulo = "eshop"
		var keywords = "ecommerce, compras, productos"
		var descripcion = "Productos al mejor precio para ti!"
		var sitio = "Productos al mejor precio para ti!"
		var paginaActual = "home"

		var autor= "Aldair Ormeño"

		//- var path_favicon= '/assets/images/favicon.ico'
		var path_favicon= '/assets/images/logo.png'
		var theme_color = '#f6e116'
